name: cv-pdf-creation

on:
  push:
    branches: [ master ]
  pull_request:
  workflow_dispatch:

jobs:
  build-pdf:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      # ---- Install only the required LaTeX packages (NOT texlive-full) ----
      - uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: texlive-latex-base texlive-latex-recommended texlive-latex-extra texlive-fonts-recommended texlive-fonts-extra pdftk
          version: 1.0

      - name: Update APT-List
        run: sudo apt-get update

      # ---- Build PDF ----
      - name: Run build script
        run: |
          mkdir out
          chmod -R u+w ./out
          bash ./scripts/pdftex.bash
          mv out/main.pdf out/input.pdf
          pdftk out/input.pdf cat 1-4 output out/main.pdf
          rm out/input.pdf

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: pdf-files
          path: out/*.pdf

  push-pdf:
    runs-on: ubuntu-latest
    needs: build-pdf

    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: pdf-files
          path: out

      - name: Upload PDF to Nextcloud
        env:
          NEXTCLOUD_USERNAME: ${{ secrets.NEXTCLOUD_USERNAME }}
          NEXTCLOUD_PASSWORD: ${{ secrets.NEXTCLOUD_PASSWORD }}
          NEXTCLOUD_URL: ${{ secrets.NEXTCLOUD_URL }}
        run: |
          PDF_FILE_PATH=$(find out -name '*.pdf')
          if [ -z "$PDF_FILE_PATH" ]; then
            echo "No PDF file found to upload"
            exit 1
          fi

          curl -u "$NEXTCLOUD_USERNAME:$NEXTCLOUD_PASSWORD" \
               -T "$PDF_FILE_PATH" \
               "$NEXTCLOUD_URL/remote.php/webdav/Documents/Lebenslauf/$(basename "$PDF_FILE_PATH")"
